{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Contact Us</h2>
            <hr>
        </div>
    </div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send Message</button>
</form>
<!-- 
<div class="container mt-5"></div>
    <h2>Contact Us</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Your Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Your Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Your Message:</label>
            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
</div>

<form method="post"></form>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    {% endfor %}
    <button type="submit">Submit</button>
</form> -->

{% endblock %}