{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Frequently Asked Questions</h2>
            <hr>
        </div>
    </div>
<ul>
{% for faq in faqs %}
    <li>
        <h2>{{ faq.question }}</h2>
        <p>{{ faq.answer|linebreaks }}</p>
    </li>

{% endfor %}
</ul>
<a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>

{% endblock %}