    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav ml-auto nav-fill">
            <li class="nav-item px-4 dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#"
                    id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Shop</a>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="servicesDropdown">
                    <div class="d-md-flex align-items-start justify-content-start">
                        <div>
                            <a class="dropdown-item font-weight-bold" href="{% url 'products' %}">All Products</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
                            <a class="dropdown-item" href="{% url 'products' %}">All Products</a>                          
                        </div>
                        <div>
                            <a class="dropdown-item font-weight-bold" href="{% url 'products' %}?category=pendants_and_earrings,cufflinks_tieclips_lapelpins">Jewellery</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products' %}?category=pendants_and_earrings">Pendants &amp; Earrings</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=cufflinks_tieclips_lapelpins">Cufflinks, Tie clips &amp; Lapel Pins</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=pendants_and_earrings,cufflinks_tieclips_lapelpins">All Jewellery</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item font-weight-bold" href="{% url 'products' %}?category=baby_and_kids">Baby &amp; Kids</a>
                        </div>
                        <div>
                            <a class="dropdown-item font-weight-bold" href="{% url 'products' %}?category=face_body_bath_balms,soap_and_shaving_soaps">Skincare</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products' %}?category=face_body_bath_balms">Face, Body, Bath &amp; Balms</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=soap_and_shaving_soaps">Soap &amp; Shaving Soaps</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=face_body_bath_balms,soap_and_shaving_soaps">All Skincare</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item font-weight-bold" href="{% url 'products' %}?category=one_of_a_kind_pieces">Unique Pieces</a>
                        </div>
                        <div>
                            <a class="dropdown-item font-weight-bold" href="{% url 'products' %}?category=prints">Prints &amp; Books</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item font-weight-bold" href="{% url 'products' %}?category=bags">Bags</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item px-4">
                <a href="{% url 'about' %}" class="logo-font font-weight-bold nav-link text-black mr-5">About Us</a>
            </li>
            <li class="nav-item px-4">
                <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-link text-black mr-5">Contact</a>
            </li>
            <li class="nav-item px-4">
                <a href="{% url 'faq_list' %}" class="logo-font font-weight-bold nav-link text-black mr-5">FAQ's</a>
            </li>
        </ul>
    </div>
