{% load static %}
{% if user.is_authenticated %}
    <h2>Your Wishlists</h2>
    {% for wishlist in wishlists %}
        <div class="wishlist-item">
            <h3>{{ wishlist.wishlist_name }}</h3>
            <h4>{{ wishlist.item }}</h4>
            <ul>
                {% for item in wishlist.item_set.all %}
                    <li>{{ item.title }} - {{ item.price }}</li>
                {% endfor %}
            </ul>
            <button onclick="removeFromWishlist(this)" data-wishlist-id="{{ wishlist.id }}">Remove from Wishlist</button>
        </div>
    {% endfor %}
{% else %}
    <p>Please log in to view your wishlists.</p>
{% endif %}

<script>
function removeFromWishlist(button) {
    var wishlistId = button.getAttribute('data-wishlist-id');
    fetch('/remove-from-wishlist/' + wishlistId + '/')
        .then(response => response.json())
        .then(data => {
            if (data.deleted) {
                alert('Removed from wishlist!');
                window.location.reload();
            }
        });
}
</script>