{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Your Wishlist</h2>
            <hr>
        </div>
    </div>


    {% if user.is_authenticated %}
    {% for wishlist in wishlists %}
    <div class="wishlist">
        <h4>{{ wishlist.item }}</h4>
        {% if wishlist.item.image %}
        <img class="img-fluid rounded wishlistimg" src="{{ wishlist.item.image.url }}" alt="{{ wishlist.item.name }}">
        {% else %}
        <img class="img-fluid rounded wishlistimg" src="{{ MEDIA_URL }}noimage.png" alt="{{ wishlist.item.name }}">
        {% endif %}
    </div>
    <a href="{% url 'product_detail' wishlist.item.id %}" class="btn btn-secondary ml-4">
        Product Details
    </a>
    <button onclick="removeFromWishlist(this)" data-wishlist-id="{{ wishlist.id }}" class="btn btn-secondary">Remove from Wishlist</button>
{% endfor %}
</div>
{% else %}
<p>Please log in to view your wishlists.</p>
{% endif %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    function removeFromWishlist(button) {
        var wishlistId = button.getAttribute('data-wishlist-id');
        fetch('/remove-from-wishlist/' + wishlistId + '/')
            .then(response => response.json())
            .then(data => {
                if (data.deleted) {
                    // alert('Removed from wishlist!');
                    window.location.reload();
                }
            });
    }
</script>
{% endblock %}