{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">About Us</h2>
            <hr>
        </div>
    </div>
    <ul>
        <p>{{ about.content }}</p>
    </ul>
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Back to shop</span>
    </a>

    {% endblock %}